.container {
    background-color: #3c3f58;
}

.flex-container{
    margin-top: 2px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.array-block {
    border-radius: 0em 0em 5em 5em;
    width: 1em;
    display: inline-block;
    margin: 0 0.1em;
}

.navbar.navbar-default {
    padding: 1em;
    background-color: #2e3047;
    align-items: center;
}
  
.btn.btn-primary {
    outline: 1px solid #3bba9c;
    border-color: #3bba9c;
    color: #3bba9c;
    background-color: #2e3047;
}
  
.btn.btn-primary:hover {
    color: #2e3047;
    background-color: #3bba9c;
}